@charset "UTF-8";

 body 
{
        background-color: red ;
  background-image: linear-gradient(to right, white , white);
  text-align: center;
}



p {

  color:  rgb(0, 0, 0);
  text-align: center;
  font-size: 180%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height:1.5em;
}

li {
 color:  rgb(0, 0, 0);
  text-align: center;
    text-decoration: none;
  font-size: 160%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height:1.5em;}

        a {
         color:  rgb(0, 0, 0);
          text-align: center;
           text-decoration: none;
  font-size: 130%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height:1.5em;}

img {
 text-align: center;
}
p
{ 
 color:blue;
 font-Size: 30 pt;
 font-family: Arial;
 text-align: center;
}
p2
{
  color:red;
 font-Size: 25 pt;
 font-family: arial;
 text-align: left;
}
p3
{
 color:black;
 font-size: 20 pt;
 font-family:arial;
 text-aling:left;
}
h1
{
color: blue;
font-size:30 pt;
font-family:arial;
text-aling: center;
}
